
<!--
<ul class="nav nav-pills nav-fill justify-content-center">
	<li ng-class="{ active:tab.isSet(1) }">
		<a href ng-click="tab.setTab(1)">Description</a>
	</li>
	<li ng-class="{ active:tab.isSet(2) }">
		<a href ng-click="tab.setTab(2)">Specs</a>
	</li>
	<li class="{active: tab.isSet(3)}">
		<a  href ng-click="tab.setTab(3)">Reviews</a>
	  </li>
</ul>
-->
<ul class="nav nav-pills nav-fill justify-content-center">
	<li class="nav-item(1)">
	  <a class="nav-link" href ng-click="tab.setTab(1)">Description</a>
	</li>
	<li class="nav-item(2)">
		<a class="nav-link" href ng-click="tab.setTab(2)">Specs</a>
	  </li>
	  <li class="nav-item(3)">
		<a class="nav-link" href ng-click="tab.setTab(3)">Reviews</a>
	  </li>
  </ul>

<!--  Description Tab's Content  -->
<div product-description ng-show="tab.isSet(1)">	</div>

<!--  Spec Tab's Content  -->
<div product-specs ng-show="tab.isSet(2)"></div>

<!--  Review Tab's Content  -->
<div product-reviews ng-show="tab.isSet(3)"> </div>

